<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stars</title>
  <script src="https://unpkg.com/dom-ready/dom-ready.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash/lodash.min.js"></script>
  <script type="text/javascript">
    var app;

    domReady(function () {
      axios
      .get("http://www.astropical.space/astrodb/api.php?table=stars&which=distance&limit=32&format=json")
      .then(function (response) {
        console.log(response)
      })
      .catch(function (error) {

      })
      Vue.component('star', {
        "template": '<div style="border: solid 2px red">'+
        '<div>{{name}}</div>'+
        '<div>{{desig}}</div>'+
        '<div>{{hip}}</div>'+
        '<div>{{hd}}</div>'+
        '<div>{{hr}}</div>'+
        '<div>{{sao}}</div>'+
        '<div>{{con}}</div>'+
        '<div>{{mag}}</div>'+
        '<div>{{dist}}</div>'+
        '<div>{{rad}}</div>'+
        '<div>{{spk}}</div>'+
        '<div>{{bvc}}</div>'+
        '<div>{{mass}}</div>'+
        '<div>{{radius}}</div>'+
        '<div>{{ra}}</div>'+
        '<div>{{de}}</div>'+
        '</div>',
        props : [
          "name",
          "desig",
          "hip",
          "hd",
          "hr",
          "sao",
          "con",
          "mag",
          "dist",
          "rad",
          "spk",
          "bvc",
          "mass",
          "radius",
          "ra",
          "de",
        ]
      })
      app = new Vue({
        el: '#stars-app',
        data: {
          "stars" : [{name:"alpha centauri"}],
          "limit" : 32,
          "format" : "json",
          "which" : "distance",
          "whichTypes" :[
            "magnitude","distance","constellation","spectrum","radial","mass",
            "radius","mass","catalogs(hip)","catalogs(hd)","catalogs(hr)","catalogs(sao)"
          ],
        },
        methods: {
        },
      })
    })
  </script>
</head>
<body>
  <div id="stars-app">
    <label>
      Limit of stars retrieved
      <input v-model="limit"/>
    </label>
    <label>
      Sorting property
      <select v-model="which">
        <option v-for="item in whichTypes">{{ item }}</option>
      </select>
    </label>
    <div v-for="star in stars">
      <star name="star.name"></star>
    </div>
  </div>
  <span>&copy; Copyright 2017 Sebastian Audet</span>
</body>
</html>