<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stars</title>
  <script src="https://unpkg.com/dom-ready/dom-ready.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash/lodash.min.js"></script>
  <script type="text/javascript">
    var app;

    domReady(function () {
      app = new Vue({
        el: '#star-component',
        data: {
          "id": 0,
          "name": "Toliman",
          "desig": "Alp-1 Cen",
          "hip": 71683,
          "hd": 128620,
          "hr":"",
          "sao": 252838,
          "con": "Cen",
          "mag": -0.01,
          "dist": "4.366",
          "rad": -21.6,
          "spk": "G2V",
          "bvc": 0.71,
          "mass": 1.1,
          "radius": 1.227,
          "ra": 14.66136,
          "de": -60.83511
        },
      })
    })
  </script>
</head>
<body>
<div id="star-component">
  A Star!
  <div style="border: solid 2px red">
    <div>{{name}}</div>
    <div>{{desig}}</div>
    <div>{{hip}}</div>
    <div>{{hd}}</div>
    <div>{{hr}}</div>
    <div>{{sao}}</div>
    <div>{{con}}</div>
    <div>{{mag}}</div>
    <div>{{dist}}</div>
    <div>{{rad}}</div>
    <div>{{spk}}</div>
    <div>{{bvc}}</div>
    <div>{{mass}}</div>
    <div>{{radius}}</div>
    <div>{{ra}}</div>
    <div>{{de}}</div>
  </div>
</div>
<span>&copy; Copyright 2017 Sebastian Audet</span>
</body>
</html>