<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    var app;
    $(function () {
      app = new Vue({
        el: '#some-app',
        data: {
            "message" : 'A message!'
          , "title_msg" : 'A secret message!'
          , "seen" : false
          , "boxes" : [
            "Ostrich",
            "Penguin",
            "Emu"
          ].map(function (v) {
            return { "msg" : v}
          }),
          "box" : {
              "size":100,
              "color":"white",
              "background_color":"purple",
              "text":"This is a box"
          }
        },
        methods: {
          reverseMessage: function () {
            this.message = this.message.split('').reverse().join('')
          }
        }
      })
    })
  </script>
  <style>
    .box-class {
      overflow: hidden;
      border: solid 2px red;
    }
  </style>
</head>
<body>
<div id="some-app">
  <span v-bind:title="title_msg">
    Hover your mouse for a couple seconds to see the title!
  </span>
  <br>
  Message: {{ message }}
  <div v-if="seen">
    Hidden messages everywhere...
  </div>
  <div v-for="box in boxes">
    {{ box.msg }}
  </div>
  <button v-on:click="reverseMessage">Reverse Message</button>
  <div>
    Box description
    <br>
    <label>
      Color
      <input v-model="box.color">
    </label>
    <label>
      Background Color
      <input v-model="box.background_color">
    </label>
    <label>
      Text
      <input v-model="box.text">
    </label>
    <label>
      Size
      <input v-model="box.size">
    </label>
  </div>
  <div class="box-class"
    :style="{ 'width': box.size+'px' , 'height': box.size+'px', 'color': box.color, 'background-color':box.background_color }">
    {{ box.text }}
  </div>
</div>
</body>
</html>